<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>
<body>
    <h1>About Me</h1>
    <p1>Mi nombre es Nicole Tessadri. Tengo 26 años y vivo en Montevideo, Uruguay. <br>
        Soy Contadora Publica y trabajo en Syngenta. Es una multinacional dedicada al agro. <br>
        Realice el curso de Pyhton en CoderHouse para ampliar mis conocimientos.<br>
        Mi mejor amiga es odontologa, por lo que me inspire en su profesion para crear la pagina WEB.
    </p1>
</body>
</html>