<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/ClinicaODO/">Inicio</a>
        <a class="navbar-brand" href="/ClinicaODO/lista-profesionales">Profesionales</a>
        <a class="navbar-brand" href="{% url 'ListaServicios' %}">Servicios</a>
        <a class="navbar-brand" href="/ClinicaODO/usuarios">Usuarios</a>
        
        
        {% if user.is_authenticated %}

            {% if url %}
                <img src="{{url}}" height="40px" alt="avatar">
            {% endif %}

            <p>Bienvenid@ {{user.username}}</p>
            <a class="btn btn-primary" href="{% url 'Logout' %}">Logout</a>
        {% else %}
                <a class="btn btn-primary" href="{% url 'Login' %}">Login</a>
                <a class="btn btn-primary" href="{% url 'Registrar' %}">Sign Up</a>
        {% endif %}

    </div>
</nav>