{% extends 'padre.html' %}

{% block contenidoQueCambia %}
        <h1>Nuestros Profesionales</h1>
        <p> Más de 150 profesionales trabajamos en la Clínica ODO con dedicación en exclusiva, con el objetivo de ofrecer al paciente el mejor trato médico y humano posible. <br></br>

            Gracias a este modelo, nuestros especialistas distribuyen su tiempo entre tres labores que consideramos primordiales para una atención excelente y en continua mejora: asistencia médica, docencia e investigación.<br></br>
                
            Así, aseguramos una formación y desarrollo profesional constante, que redunde en beneficios para nuestros pacientes.
                
                 </p>
{% endblock contenidoQueCambia %}