{% extends 'padre.html' %}

{% block contenidoQueCambia %}
        <h1>Nuestros Servicios</h1>
        <p> <b>Nuestro Servicio Odontológico te ofrece:</b> <br></br>
            <ul>
                <li>Mantener y recuperar tu salud bucal y la de tu familia, ya que la cobertura también alcanza a tu cónyuge o concubino/a e hijos menores de 21 años.</li><br></br>
                <li>Asistencia odontológica en todo el país, con más de 80 consultorios y 150 profesionales destacados que brindan una atención personalizada.</li><br></br>
                <li>Costos bajos y bonificados. </li><br></br>
                <li>Servicio de urgencias en Montevideo fuera del horario de funcionamiento del servicio, los 365 días del año. </li>
            </ul>
        
        
        </p>
{% endblock contenidoQueCambia %}